<div class="container">
  <div class="row">
    <input type="text" class="com-md col-lg-offset-9 col-md-3 pull-right"  id="txt-search" name="txt-search" placeholder="Search Posts"/>
    <div class="col-lg-12 col-md-12 col-sm-12">
      <table id="tbl-feedback" class="table table-bordered">
        <tbody>
          <tr *ngFor="let post of postList">
            <td>
              <table>
                <tr>
                  <td>{{post.Text}}</td>

                  <td>{{post.UserName}}</td>
                  <td>{{post.CreatedOn}}</td>
                  <td>{{post.TotalComment}} Comments</td>
                </tr>
                <tr *ngFor="let comment of post.Comments">
                  <td>{{comment.Text}}</td>
                  <td>{{comment.UserName}}</td>
                  <td>{{comment.CreatedOn}}</td>
                  <td><i class="fa fa-arrow-up"></i><span class="glyphicon glyphicon-arrow-up"></span>&uarr;{{comment.TotalLike}}&nbsp;&nbsp;&nbsp;<i class="fa fa-arrow-down"></i>{{comment.TotalDislike}}&darr;</td>
                </tr>
              </table>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

</div>
